[Unit]
Description=O2 FlpPrototype QC task process
After=network.target

# Syntax: sudo systemctl start flpprototype-qctask@task_name@config_file_name
[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH={{ o2_install_path }}/modulefiles module load {{ flpprototype_qc_packagebasename }}/{{ flpprototype_qc_packageversion }} && \
                      QCTASKNAME=`/bin/echo '%i' | /bin/cut -f1 -d@` && \
                      QCCONFIGFILENAME=`/bin/echo '%i' | /bin/cut -f2 -d@` && \
                      {{ o2_install_path }}/{{ flpprototype_qc_packagebasename }}/{{flpprototype_qc_packageversion}}/bin/qcTaskLauncher \
                      -n $${QCTASKNAME} -c file://{{ flpprototype_qc_confdir }}/$${QCCONFIGFILENAME}.ini \
                      --id $${QCTASKNAME} --mq-config {{ flpprototype_qc_confdir }}/{{ flpprototype_qc_fairmq_config }} \
                      --control static"
Restart=no
