[Unit]
Description=O2 FlpPrototype readout process
After=network.target
AssertPathExistsGlob={{ flpprototype_readout_confdir }}/%I.cfg

[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH={{ o2_install_path }}/modulefiles module load {{ flpprototype_readout_packagebasename }}/{{ flpprototype_readout_packageversion }} && \
                      {{ o2_install_path }}/{{ flpprototype_readout_packagebasename }}/{{flpprototype_readout_packageversion}}/bin/readout.exe file:{{ flpprototype_readout_confdir }}/%I.cfg
Restart=no
