[Unit]
Description=O2 FlpPrototype readout process
After=network.target
AssertPathExistsGlob={{ flpprototype_readout_confdir }}/{{ flpprototype_readout_default_config }}

[Service]
ExecStart={{ o2_install_path }}/{{ flpprototype_packagebasename }}/{{flpprototype_packageversion}}/bin/readout.exe file:{{ flpprototype_readout_confdir }}/{{ flpprototype_readout_default_config }}
Restart=no
