[Unit]
Description=O2 FlpPrototype QC checker process
After=network.target

# Syntax: sudo systemctl start flpprototype-qcchecker@task_name@config_file_name
[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH=/opt/alisw/el7/modulefiles module load flpproto/v0.2.0-1 && \
                      QCCHECKERNAME=`/bin/echo '%i' | /bin/cut -f1 -d@` && \
                      QCCONFIGFILENAME=`/bin/echo '%i' | /bin/cut -f2 -d@` && \
                      /opt/alisw/el7/flpproto/v0.2.0-1/bin/qcCheckerLauncher -n $${QCCHECKERNAME} -c file:///etc/flpprototype.d/qc/$${QCCONFIGFILENAME}.ini"
Restart=no
