[Unit]
Description=O2 FlpPrototype readout process
After=network.target
AssertPathExistsGlob={{ flpprototype_readout_confdir }}/{{ flpprototype_readout_default_config }}

[Service]
ExecStart=/opt/o2-modules/bin/readout.exe file:{{ flpprototype_readout_confdir }}/{{ flpprototype_readout_default_config }}
Restart=no
