[Unit]
Description=O2 FlpPrototype readout process
After=network.target
AssertPathExistsGlob={{ flpprototype_readout_confdir }}/%I.cfg

[Service]
ExecStart=sh -c "source /etc/profile.d/modules.sh && \
                 MODULEPATH=/opt/alisw/el7/modulefiles module load {{ flpprototype_packagebasename }}/{{ flpprototype_packageversion }} && \
                 {{ o2_install_path }}/{{ flpprototype_packagebasename }}/{{flpprototype_packageversion}}/bin/readout.exe file:{{ flpprototype_readout_confdir }}/%I.cfg
Restart=no
