[Unit]
Description=O2 FlpPrototype QC task process
After=network.target
AssertPathExistsGlob={{ flpprototype_qc_confdir }}/$(/bin/echo %I | /bin/cut -f2 -d@).ini

# Syntax: sudo systemctl start flpprototype-qctask@task_name@config_file_name
[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH={{ o2_install_path }}/modulefiles module load {{ flpprototype_qc_packagebasename }}/{{ flpprototype_qc_packageversion }} && \
                      {{ o2_install_path }}/{{ flpprototype_qc_packagebasename }}/{{flpprototype_qc_packageversion}}/bin/qcTaskLauncher -n $(/bin/echo %I | /bin/cut -f1 -d@) -c file://{{ flpprototype_qc_confdir }}/$(/bin/echo %I | /bin/cut -f2 -d@).ini"
Restart=no
