[Unit]
Description=Set up hugetlbfs for readout

[Service]
Type=oneshot
ExecStart={{ o2_install_path }}/{{ flpprototype_readout_packagebasename }}/{{ flpprototype_readout_packageversion }}/bin/roc-setup-hugetlbfs

[Install]
WantedBy=multi-user.target
