[Unit]
Description=O2 FlpPrototype QC task process
After=network.target
AssertPathExistsGlob={{ flpprototype_qc_confdir }}/{{ flpprototype_qc_default_config }}

[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH={{ o2_install_path }}/modulefiles module load {{ flpprototype_qc_packagebasename }}/{{ flpprototype_qc_packageversion }} && \
                      {{ o2_install_path }}/{{ flpprototype_qc_packagebasename }}/{{flpprototype_qc_packageversion}}/bin/qcTaskLauncher \
                      -n myTask_1 -c json://{{ flpprototype_qc_confdir }}/{{ flpprototype_qc_default_config }} \
                      --id myTask_1 --mq-config {{ flpprototype_qc_confdir }}/{{ flpprototype_qc_fairmq_config }} \
                      --control static | {{ infologger_install_path }}/bin/log -x"
Restart=no
