[Unit]
Description=O2 FlpPrototype QC checker process
After=network.target

# Syntax: sudo systemctl start flpprototype-qcchecker@task_name@config_file_name
[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH={{ o2_install_path }}/modulefiles module load {{ flpprototype_qc_packagebasename }}/{{ flpprototype_qc_packageversion }} && \
                      QCCHECKERNAME=`/bin/echo '%i' | /bin/cut -f1 -d@` && \
                      QCCONFIGFILENAME=`/bin/echo '%i' | /bin/cut -f2 -d@` && \
                      {{ o2_install_path }}/{{ flpprototype_qc_packagebasename }}/{{flpprototype_qc_packageversion}}/bin/qcCheckerLauncher \
                      -n $${QCCHECKERNAME} -c file://{{ flpprototype_qc_confdir }}/$${QCCONFIGFILENAME}.ini | {{ infologger_install_path }}/bin/log -x"
Restart=no
