name: AliECS Core

on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  control-basic-check:
    name: Basic Make Check
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-24.04]
        go: [ '1.24.2' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{matrix.go}}
      - run: (make vendor)
      - run: (make)
      - run: (make test)
